body{
  background-color: #f5f6f8;
}

.ui.inverted.top.fixed.menu{
  background-color: #025aee;
}

.ui.primary.button{
  background-color: #fafafa;
  color: #025aee;
}

.secondary-button{
  color: #fafafa !important;
  background-color: #025aee !important;
}
.delete-button{
  color: #fafafa !important;
  background-color: rgb(224, 1, 1) !important;
}